* {
  font-family: Consolas;
  font-size: 1em;
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

#editor > * {
  position: absolute;
  width: inherit;
  padding: 0;
  border: 0;
  padding-left: 5px;
  overflow-y: visible;
}

#lines,
textarea {
  height: 100vh;
}
